{% extends 'blank.html' %}


{% block central %}
<div style="margin-top: 20px;"> <!-- Adiciona um espaço de 20 pixels no topo -->
    <div style="position: relative;">
        <h1 style="text-align: center; font-weight: bold; color: white; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1; font-size: 24px;">LISTA DE ESCOLAS</h1>
        <div style="background-color: #023059; height: 50px;"></div>
    </div>
    
    <hr>

    <form action="" method="GET" style="margin: 20px 0;">
        <input type="text" name="nome" value="{{ request.GET.nome }}" autocomplete="off"
            placeholder="Nome ou parte dele..." style="margin-left: 130px;">
        <button type="submit" class="btn btn-success" style= "background-color: #0E7331; color: white;">Buscar</button>
        <a href="{% url 'programas' %}" class="btn btn-light" style="margin-left: 10px;background-color: #F2E313; color: black;">Limpar</a>
        <button type="button" id="btn-verificar" class="btn btn-primary float-right" style="margin-right: 130px; background-color: #023059; color: white;">Mapa Escolas</button>

    </form>
    
    
    
    <script>
        // Verifica se a URL contém '?mapa=true' ao carregar a página
        window.onload = function() {
            var url = window.location.href;
            if (url.indexOf('mapa=true') !== -1) {
                // Remove '?mapa=true' da URL
                var newUrl = url.replace('?mapa=true', '');
                // Atualiza a URL sem '?mapa=true'
                history.replaceState(null, null, newUrl);
                // Recarrega a página
                location.reload();
            }
        };
    
        document.getElementById("btn-verificar").addEventListener("click", function (event) {
            event.preventDefault(); // Evita o comportamento padrão de enviar o formulário
            var url = window.location.href; // Obtém a URL atual
    
            // Adiciona "?mapa=true" à URL apenas se já não estiver presente
            if (url.indexOf('mapa=true') === -1) {
                url += (url.indexOf('?') !== -1 ? '&' : '?') + 'mapa=true';
            }
    
            // Redireciona para a URL atualizada
            window.location.href = url;

            // Remove "?mapa=true" da URL após o redirecionamento
            var novaURL = window.location.href.replace('?mapa=true', '');
            history.replaceState(null, null, novaURL);
        });
    </script>

    <hr>
    <div style="display: flex; justify-content: center;">
    <table border="1">
        <thead align="center">
            <tr style="text-align: center;">
                <th>INEP</th>
                <th>NOME DA ESCOLA</th>
                <th>STATUS</th>
            </tr>
            
            
        </thead>
        <tbody>
            {% for escola in escolas %}
            <tr>
                <td>{{ escola.inep }}</td>
                <td>{{ escola.nome }}</td>
                <td>{{ escola.status }}</td>
                <td>{{ escola.longitude }}</td>
                <td>{{ escola.latitude }}</td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
            
            <!-- Modal de cópia -->
            <div id="modal-copia" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p id="valor-inep-copiado"></p>
                    <button id="btn-copiar">Copiar</button>
                </div>
            </div>
        </tbody>
    </table>
</div>
</div>
{% endblock %}